<!-- check-out -->
{{# if products }} 

<div class="container">
	<div class="check">	 		
		<div class="col-md-8 cart-items">
			<h1>My Shopping Bag ({{session.cart.totalQty}})</h1><hr>
			<div class="cart-header">
			{{# each products }}
				<div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item">
							<img src="{{this.item.imagePath}}" class="img-responsive" alt="" />
						</div>
					   <div class="cart-item-info">
							<ul class="qty">
								<li><h3><a href="/single/{{this.item._id}}">{{this.item.title}}</a></h3></li>
								<li><p>Brand : {{this.item.brand}}</p></li>
								<li><p>Qty : {{this.qty}}</p></li>
								<li><p>Price : {{this.price}}</p></li>
								<div class="clearfix"></div>	
							</ul><br>
							<ul class="qty">
								<li><a href="/reduce/{{this.item._id}}"><span class="glyphicon glyphicon-minus"></span></a></li>
					   			<li><a href="/remove/{{this.item._id}}"><span class="glyphicon glyphicon-remove"></span></a></li>
					   		</ul>
							<div class="delivery">
								 <p>Service Charges : Rs.100.00</p><br>
								 <p>Delivered in 2-3 bussiness days</p>
							</div>	
					   </div>					   	
					   <div class="clearfix"></div>					   									
				  </div><hr>
			{{/each}}
			</div>		
		</div>
		<div class="col-md-4 cart-total">
			<h2>Final Order Details</h2>
			<div class="price-details">
				<h3>Price Details</h3>
				<span>Total</span>
				<span class="total1">{{totalPrice}}</span>
				
				<div class="clearfix"></div>				 
			</div>	
			<ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   <li class="last_price"><span>{{totalPrice}}</span></li>
			   <div class="clearfix"> </div>
			</ul> 
			<div class="clearfix"></div>
			<a class="order" href="/checkout">Place Order</a>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //check-out -->
{{ else }}
<!-- Empty check-out -->
<div class="container">
	<div class="check">	 		
		<div class="col-md-8 cart-items">
		<h1>Hey, (username)</h1>
		<h2>Your cart looks empty, why don't you browse around to find your choice!</h2>
		</div>
	</div>
</div>
<!-- //Empty check-out -->
{{/if}}